.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-mono);
}

.header {
  color: var(--text);
}

.retirementcalc {
  background-color: var(--tertiary-background);
  color: var(--white-text);
  align-items: center;
  margin-bottom: 200px;
  padding: 80px;
  border-radius: 10px;
  box-shadow:0px 5px 5px var(--text);
}

.portfolioest {
  background-color: var(--secondary-background);
  color: var(--white-text);
  align-items: center;
  margin-bottom: 200px;
  margin-top: 600px;
  padding: 80px;
  border-radius: 10px;
  box-shadow:0px 5px 5px var(--text);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.textfield {
  border: none;
  padding:2px;
  border-radius: 3px;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  box-shadow:0px 1px 1px var(--text);
}

.tertbutton {
  font-family: var(--font-geist-mono);
  color: var(--text);
  background-color: var(--tertiary-submit);
  border: 2px solid var(--tertiary-submit);
  box-shadow:0px 5px 5px var(--text);
  transition-duration: 0.4s;
  border-radius: 3px;
}

.tertbutton:hover {
  background-color: var(--tertiary-hover);
}

.secbutton {
  font-family: var(--font-geist-mono);
  color: var(--white-text);
  background-color: var(--secondary-submit);
  border: 2px solid var(--secondary-submit);
  box-shadow:0px 5px 5px var(--text);
  transition-duration: 0.4s;
  border-radius: 3px;
}

.secbutton:hover {
  background-color: var(--secondary-hover);
}